/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

/* GENERAL */
html,
body,
#root {
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-family: "Cinzel", serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: #f0e6d2;
  font-size: 2.2rem;
}

a {
  color: #f0e6d2;
  font-family: "Cinzel", serif;
  text-decoration: none;
}

.correct-guess {
  background-color: #4caf50 !important;
}

.wrong-guess {
  background-color: #7d0a0a !important;
}

.partly-guess {
  background-color: #a99514 !important;
}

.arrow-up {
  background: url("../images/icons/arrow_up.png") no-repeat center center;
  background-size: 75% 90%;
}

.arrow-down {
  background: url("../images/icons/arrow_down.png") no-repeat center center;
  background-size: 75% 90%;
}

/* LAYOUT */
.main-bg {
  position: relative;
  background: url("../images/osrs_wallpaper.webp") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px #000;
  z-index: 1;
  flex-grow: 1 !important;
}


.main-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px #000;
  backdrop-filter: blur(5px);
  filter: blur(5px);
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  margin: 30px 0px 30px 0px;
  flex-grow: 1;
}

.header {
  padding-bottom: 20px;
}

.osrs-logo {
  width: 250px;
  filter: drop-shadow(2px 2px 5px #000);
  transition: transform 0.2s ease-in-out;
}

.osrs-logo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.button {
  padding: 10px 20px;
  background-color: #5e432a;
  color: #f0e6d2;
  border: 2px solid #a67c52;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s;
  width: 100%;
}

.button:hover {
  background-color: #7b5e3e;
}

.button-title {
  margin: 0px;
  font-size: 1.4rem;
}

.button-desc {
  margin: 0;
}

.text {
  color: #d9b38c;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.panel {
  background-size: cover;
  padding: 20px;
  border: 2px solid #a67c52;
  border-radius: 8px;
  margin-top: 20px;
  width: 100%;
}

.created-by {
  color: #f0e6d2;
  width: 100%;
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.7rem;
}

.created-by-link {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 auto;
}

.created-by-link:hover {
  text-decoration: underline;
}

.disclaimer {
  margin: 0 auto;
  font-size: 0.9rem;
}

.disclaimer-link:hover {
  text-decoration: underline;
}

/* HOME */
.button-group {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 60%;
}

/* BOSSES */
.boss-main {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boss-card {
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
  border: 3px solid #5e432a;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px #000;
  background-color: rgba(0, 0, 0, 0.601);
}

.boss-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boss-input {
  width: 100%;
  position: relative;
}

.boss-search {
  margin-top: 30px;
  width: 100%;
  font-size: 20px;
  border: 3px solid #a67c52;
  background-color: #5e432a;
  color: #f0e6d2;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  transition: padding 0.3s ease;
}

.boss-search::placeholder {
  color: #f0e6d2;
  font-size: 16px;
  padding: 10px;
}

input:focus {
  outline: none;
}

.boss-ul {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 10;
  margin: 0;
  padding: 0;
  background-color: #5e432a;
  border-radius: 10px;
  border: 3px solid #a67c52;
  max-height: 300px;
  overflow-y: auto;
}

.classic-ul {
  top: 50px;
}

.boss-li {
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  color: #f0e6d2;
}

.boss-li:hover {
  background-color: #7b5e3e;
  cursor: pointer;
}

.boss-list-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 20px;
  border: 1px solid #a67c52;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.105);
}

.guessed-boss-li {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
}

.boss-guess-img {
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

@keyframes correctGuessEffect {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  50% {
    transform: scale(1.02);
    filter: brightness(1.5) drop-shadow(0 0 15px #2f6931);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

.correct-boss {
  animation: correctGuessEffect 0.6s ease-in-out;
}

.correct-display {
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #2f6931;
  border-radius: 10px;
  color: #f0e6d2;
}

.correct-title {
  margin: 0px 0px 10px 0px;
  font-size: 1.5rem;
}

.correct-con {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.correct-info {
  display: flex;
  gap: 20px;
  font-size: 1.1rem;
  margin: 10px 0px 0px 10px;
}

.correct-image {
  width: 125px;
  height: 100%;
  object-fit: contain;
  padding: 10px;
  border-radius: 10px;
  background-color: #0a0a0967;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct-info-text {
  margin: 0px;
  font-size: 0.8rem;
}

.correct-boss-name {
  margin: 10px 0px 0px 0px;
}

.correct-number {
  margin: 5px 0px 0px 0px;
  font-size: 1rem;
  color: #fcf79c;
}

/* CLASSIC */
.classic-boxes {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  position: relative;
}

.classic-table {
  width: 100%;
  max-width: 100%;
  border-spacing: 10px;
}

.classic-table th {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  color: #333;
  background-color: #5e432a;
  border-radius: 10px;
  color: #f0e6d2;
  padding: 10px;
}

.classic-table tr {
  display: table-row;
}

.classic-boss-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.classic-table td {
  background-color: #5e432a;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  padding: 6px;
  font-size: 1rem;
  color: #f0e6d2;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  position: relative;
}

.classic-boss-img-td {
  background-color: #00000065 !important;
  border: 2px solid #a67c52;
}

.classic-th-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 8px;
}

.icon-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.classic-search {
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #5e432a;
  border-radius: 10px;
  border: 3px solid #a67c52;
  max-height: 300px;
  overflow-y: auto;
}

.color-indicators {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  background-color: #5e432a3f;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #a67c5244;
  color: #f0e6d2;
}

.indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 10px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1800px) {
  .boss-main,
  .button-group,
  .classic-boxes {
    width: 40%;
  }
}

@media screen and (max-width: 1500px) {
  .boss-main,
  .button-group,
  .classic-boxes {
    width: 45%;
  }
}

@media screen and (max-width: 1400px) {
  .boss-main,
  .button-group,
  .classic-boxes {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .boss-main,
  .button-group,
  .classic-boxes {
    width: 60%;
  }
}

@media screen and (max-width: 975px) {
  .boss-main,
  .button-group,
  .classic-boxes {
    width: 70%;
  }
  .icon-text-container {
    flex-direction: column;
  }
  .classic-th-icon {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .boss-main,
  .button-group,
  .classic-boxes {
    width: 100%;
  }
  .main-bg {
    min-height: 100vh;
  }
  .classic-table {
    table-layout: fixed;
  }
  .content {
    padding: 5px;
  }
  .classic-table td {
    font-size: 10px;
    word-break: break-word;  
    word-wrap: break-word;   
  }
  .classic-table th {
    font-size: 11px;
  }
}

@media screen and (max-width: 600px) {
  .button-group {
    width: 80%;
  }
  .classic-th-icon {
    display: none;
  }
  .main-bg {
    background: none;
    box-shadow: none;
    background-color: #212121;
    position: static;
  }
  .main-bg::before {
    background: #212121;
    box-shadow: none;
    backdrop-filter: blur(0px);
    filter: blur(0px);
  }
  body {
    background: #212121;
  }
  .disclaimer {
    text-align: center;
  }
  .boss-img {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 455px) {
  .color-indicators {
    width: 400px;
  }
  .classic-search {
    margin-bottom: 0px;
  }
  .boss-search {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 410px) {
  .color-indicators {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 400px) {
  .osrs-logo {
    width: 175px;
  }
  .color-indicators {
    transform: scale(0.8);
  }
}
